.note {
  position: relative;
  width: 320px;
  padding: 20px;
  text-align: center;
  border: 1px solid black;
}

.note-remove {
  position: absolute;
  top: -20px;
  right: -20px;
}

.note-remove::before,
.note-remove::after {
  display: block;
  content: '';
  position: absolute;
  left: 18px;
  top: 7px;
  width: 2px;
  height: 24px;
  background-color: red;
}

.note-remove::before {
  transform: rotate(45deg);
}

.note-remove::after {
  transform: rotate(-45deg);
}